# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# Java compiled classes
*.class

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse
.project
.classpath
.settings/
bin/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env
.env

# VSCode
.vscode/

# Backup files
*.bak
*.old
*.orig
*.tmp
*~
